@charset "UTF-8";

@font-face {
    font-family: "bebasneue";
    src: url(fontes/BebasNeue-Regular.ttf);
}

:root {
    --fonte-titulos: "bebasneue";

}

:root {
    --cor1: #a7c0d6;
    --cor2: #618FAE;
    --cor3: #55BAEF;
    --cor4: #2382BD;
    --cor5: #007CF4;

}
body {
    background-color: #646464;
}

